:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --font-family: 'Alegreya', serif;
    --font-color: rgb(237, 236, 234);
    --primary-bg-color: rgb(62, 53, 63);
    --secondary-bg-color: rgba(33, 45, 42, 0.8);
    --border-color: rgb(164, 156, 145);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--primary-bg-color);
    color: var(--font-color);
}
