.scoreboard {
    display: flex;
    gap: 24px;
    padding: 24px;
    border-radius: 8px;
    justify-content: center;
    background-color: rgb(62, 53, 63, 0.9);
    backdrop-filter: blur(20px);
    font-size: 1.8rem;
    font-weight: 600;
}